tr,
td,
th {
    vertical-align: middle !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #00c2cb;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaaaaa;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /* background-color: #00a85b; */
    background-color: #a3bdf4;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00a85b;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-control {
    color: #414141 !important;
}

.drop-down {
    display: inline-block;
    position: relative;
}

.drop-down-items {
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
}

/* RTL Support Styles */
[dir="rtl"] .navbar-vertical.fixed-left {
    left: auto !important;
    right: 0 !important;
}

[dir="rtl"] .main-content {
    margin-left: 0 !important;
    margin-right: 250px !important;
}

[dir="rtl"] .navbar-vertical .navbar-nav .nav-link {
    text-align: right !important;
}

[dir="rtl"] .navbar-vertical .navbar-nav .nav-link i {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
}

[dir="rtl"] .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

[dir="rtl"] .main-header {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
}

[dir="rtl"] .table {
    text-align: right !important;
}

[dir="rtl"] .modal-header .close {
    margin: -1rem auto -1rem -1rem !important;
}

[dir="rtl"] .form-control {
    text-align: right !important;
}

[dir="rtl"] .badge {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
}

[dir="rtl"] .navbar-toggler {
    margin-left: 0 !important;
    margin-right: auto !important;
}

[dir="rtl"] body {
    text-align: right !important;
}

@media (min-width: 768px) {
    [dir="rtl"] .navbar-vertical.fixed-left ~ .main-content {
        margin-right: 250px !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 767px) {
    [dir="rtl"] .main-content {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

/* RTL Styles for Sidebar Footer */
[dir="rtl"] .footer_bottom {
    left: auto !important;
    right: 5px !important;
}

[dir="rtl"] .footer_bottom .local {
    direction: rtl !important;
    text-align: right !important;
    flex-direction: row-reverse !important;
}

[dir="rtl"] .footer_bottom .local select {
    padding-right: 0.75rem !important;
    padding-left: 2.5rem !important;
    text-align: right !important;
}

[dir="rtl"] .footer_bottom .local .lanIcon {
    order: 2 !important;
}

[dir="rtl"] .footer_bottom .profile {
    flex-direction: row-reverse !important;
    text-align: right !important;
    justify-content: flex-start !important;
}

[dir="rtl"] .footer_bottom .profile > div:first-child {
    order: 2 !important;
}

[dir="rtl"] .footer_bottom .profile > div:last-child {
    order: 1 !important;
    margin-right: 0 !important;
    margin-left: 10px !important;
}

[dir="rtl"] .footer_bottom .profile .name,
[dir="rtl"] .footer_bottom .profile .email {
    text-align: right !important;
}

/* Additional RTL Sidebar Adjustments */
[dir="rtl"] .navbar-vertical .navbar-brand {
    margin-right: 0 !important;
    margin-left: auto !important;
}

[dir="rtl"] .navbar-vertical .navbar-collapse {
    padding-right: 0 !important;
}

[dir="rtl"] .navbar-collapse:before {
    margin: 1.5rem 1.5rem 1.5rem 0 !important;
}

[dir="rtl"] .navbar-vertical .navbar-nav .nav-link > i {
    min-width: 2.25rem !important;
    text-align: center !important;
}

[dir="rtl"] ul.navbar-nav {
    padding-right: 0 !important;
}

/* RTL Support for Dropdown Arrows in Sidebar */
[dir="rtl"] .navbar-vertical .navbar-nav .nav-link[data-toggle='collapse']:after {
    margin-left: 0 !important;
    margin-right: auto !important;
    content: '\f104' !important; /* Change arrow direction to left */
}

[dir="rtl"] .navbar-vertical .navbar-nav .nav-link[data-toggle='collapse'][aria-expanded='true']:after {
    transform: rotate(-90deg) !important; /* Rotate in opposite direction */
}

/* RTL Support for Sub-menu items */
[dir="rtl"] .navbar-vertical .navbar-nav .nav .nav-link {
    padding-left: 0.75rem !important;
    padding-right: 0 !important;
}

[dir="rtl"] .navbar-vertical .navbar-nav .nav .nav-link.sub-menu {
    padding-right: 0 !important;
    padding-left: 1rem !important;
    text-align: right !important;
}

/* Increase specificity for POS/product sub-menu blocks */
[dir="rtl"] .navbar-vertical .nav.nav-sm .nav-link {
    padding-right: 0 !important;
    padding-left: 1rem !important;
    margin-left: 0 !important;
}

[dir="rtl"] .navbar-vertical.navbar-expand-md .navbar-nav .nav.nav-sm .nav-link {
    padding-right: 0 !important;
    padding-left: 1rem !important;
}

/* RTL Support for Sub-menu Border Line */
[dir="rtl"] .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
    margin-left: 0 !important;
    margin-right: 2rem !important;
    border-left: 0 !important;
    border-right: 1px solid #ddd !important;
}

/* RTL Support for Active Link Indicator */
[dir="rtl"] .navbar-vertical .navbar-nav .nav-link.active:before {
    right: -1.5px !important;
    left: auto !important;
    border-left: 0 !important;
    border-right: 2px solid #5e72e4 !important;
}

[dir="rtl"] .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    right: -1.5px !important;
    left: auto !important;
    border-left: 0 !important;
    border-right: 3px solid #5e72e4 !important;
}

/* RTL Support for navbar-nav margins */
[dir="rtl"] .navbar-vertical .navbar-nav {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
}

/* Additional RTL Support for nested sub-menus */
@media (min-width: 768px) {
    [dir="rtl"] .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
        margin-left: 0 !important;
        margin-right: 2rem !important;
        border-left: 0 !important;
        border-right: 1px solid #ddd !important;
        padding-right: 0px !important;
    }
    
    [dir="rtl"] .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav .nav-link {
        padding-left: 1rem !important;
        padding-right: 0px !important;
    }
}

